@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
// @import "bootstrap";
@import "./navBar.scss";
@import "./welcome.scss";
@import "./main.scss";
@import "./modulos.scss";

* {
    margin : 0;
    padding : 0;
    border : none;
    outline : none;
    box-sizing : border-box;
    transition : all .6s;
}

div,
nav,
img,
header,
footer,
section {
    display : block;
}

li,
ol,
ul {
    list-style : none;
}

a {
    text-decoration : none;
}

body {
    font-family : Helvetica, Arial;
    min-height : 100vh;
    background : #fff;
    
    &::-webkit-scrollbar {
        width : 8px;
        background : #fff;
    }
    
    &::-webkit-scrollbar-thumb{
        background : $theme;
    }
}


.root {
    --theme : #f9edc2;
}

.site-wrap {
    width : 100%;
    height : auto;
}

.footer {
    position : relative;
    top : 50px;
    width : 100%;
    height : 300px;
    background : #aaa;
    
    &__container {
        //code...
    }
}