@import url('https://fonts.googleapis.com/css?family=Lato:100,400');
@import "bootstrap";
@import "./navBar.scss";
@import "./welcome.scss";
@import "./main.scss";
@import "./modulos.scss";

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family : 'Lato','Helvetica','Arial';
    font-weight : 100;
    min-height : 100vh;
    background : #ccc;
}

.fab {
    width : 60px;
    height : 60px;
    position : fixed;
    border-radius : 50%;
    right : 30px;
    bottom : 30px;
    background-color : #99f;
    z-index : 1010;
}

.footer {
    width : 100%;
    height : 300px;
    background-color : #444;
    display : flex;
}