//component navBAr

.navBar {
    width : 100%;
    height : 80px;
    background : #aaa;
    display : flex;
    justify-content : space-around;
    align-items : center;
    box-shadow : 0 0 15px #333;
    
    h2 {
        color : #eee;
    }
    
    .nav {
        //code...
        a {
            color : #eee;
            padding : .4em;
            text-decoration : none;
        }
    }
}