//Index component
.index {
    position : relative;
    width : 100%;
    height : 100vh;
    background : #eee;
    top : 80px;
    
    .hero {
        width : 100%;
        height : 400px;
        background : #ccc;
        display : flex;
        
        &__container {
            margin : auto;
            display : flex;
            flex-direction : column;
            
            //h1 {}
            
            //p {}
        }
    }
}