@import "./modulos.scss";
//Index component
.index {
    position : relative;
    width : 100%;
    height : 100%;
    background : #fff;
    // top : 80px;
    
    .hero {
        width : 100%;
        height : 80vh;
        background : $theme;
        display : flex;
        position : relative;
        
        h2 {
            color : #fff;
            margin : auto;
            font-weight : 400;
        }
    }
    
}